@font-face {
    font-family: 'Jost';
    src: url('../src/fonts/Jost-Bold.ttf') format("truetype");
    src: url('../src/fonts/Jost-Medium.ttf') format('truetype');
    src: url('../src/fonts/Jost-Regular.ttf') format('truetype');

}

@tailwind base;
@tailwind components;
@tailwind utilities;



.menu-list>li>a {
    font-size: 0.9rem;

}

a.active {
    background-color: rgb(8, 221, 139);
    /* padding-top: 0.4rem; */
    /* border-radius: 0.2rem; */
    /* display: block; */
    /* margin-top: -0.5rem; */

}