.mainAbout {
    margin:50px 0;
}

.aboutContainer {
 
    display: flex;
    padding: 15px;
    justify-content: center;

}


.aboutContainer>figure {
    width: 250px;
    height: 250px;
    border:1px solid black;


}
.aboutContainer>p {

 font-size: 1.2rem;
 line-height:30px;
    width: 50%;
    margin-left: 10px;
}